<div style="height: 100%;">
    <mat-grid-list cols="1" rowHeight="4.5:1">
        <mat-grid-tile>
            <div class="mat-grid-tile-content">
                <img  class="images" src="../../assets/background_Image.jpg" style="height: 100%; width: 100%; display: inline-flex; opacity: 0.9;"/>
            </div>
            
        </mat-grid-tile>     

      </mat-grid-list>
      <div style="margin:auto; text-align: center;"><h2>VISION STATEMENT</h2>
        <h4>Even more vision statements lol</h4>
    </div>
      <div style="margin-bottom: auto; margin-right:auto;">
        <app-marketpage></app-marketpage>
    </div>
    
</div>
