<div style="height: 100%; background-color: #EBEDEC;">


    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <div class="mat-grid-tile-content">
                <h2>Text goes here</h2>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="mat-grid-tile-content">
                <img class="images" src="../../assets/LandingPage.png" style="height: 100%; width: 100%; display: inline-flex; opacity: 0.9;">
            </div>
        </mat-grid-tile>
        
      </mat-grid-list>

  
      <div style="margin:auto; text-align: center;"><h2>VISION STATEMENT</h2>
      
    </div>
    
    <div>
        <app-household-price-graph></app-household-price-graph>
    </div>
    
    <div style="margin-bottom: auto; margin-right:auto;">
        <app-marketpage></app-marketpage>
    </div>
    
</div>


<!-- About background images
Most computer screens support a minimum resolution of 1024 x 768 pixels, 
which means that your background photo should be that size – at the very least. 
Best is to aim for at least 1200 pixels wide.
Uploading an image that is only 500px wide will result in a blurry or pixelated background, 
and nobody wants that.
-->