.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  

  .spacer {
    flex: 1 1 auto;
  }

  .example-button-row button,
.example-button-row a {
  margin-right: 5px;
}

.topBarBtns{
  
  text-decoration:none;
  color: azure;
}

.menuBtns{
  text-decoration:none;
  color: black;
}



.orderBtn{
  text-decoration: none;
  color:darkgoldenrod
}