<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')"
    style="width:40%">
    Sidenav content
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary" style="background-color: #131620;position: sticky;top: 0;
    z-index: 1;">

      <span><a class="topBarBtns" routerLink="homepage">P2P Optimal Energy Trading</a></span>
      <span class="spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">

        <!-- Toolbar when user is not logged in -->
        <div *ngIf="!isVerified">

          <a class="orderBtn" mat-button routerLink="order">New Order</a>
          <a class="topBarBtns" mat-button>Blockchain</a>
          <a class="topBarBtns" mat-button>Market</a>
          <a class="topBarBtns" mat-button>EV</a>
          <!-- <a class="topBarBtns" mat-button>About</a> -->
          <a class="topBarBtns" mat-button routerLink="transactions">History</a>

          <button mat-button routerLink="login">Login</button>
          <button mat-raised-button style="background-color:#007EFF; color:beige;" routerLink="register">Register</button>
        </div>

        <!-- Toolbar when user is logged in -->
        <div *ngIf="isVerified">
          
          <a class="orderBtn" mat-button routerLink="order">New Order</a>
          <a class="topBarBtns" mat-button routerLink="blockchain">Blockchain</a>
          <a class="topBarBtns" mat-button routerLink="market">Market</a>
          <a class="topBarBtns" mat-button routerLink="evPage">EV</a>
          <a class="topBarBtns" mat-button routerLink="transactions">History</a>
    
          <button mat-button [matMenuTriggerFor]="menu">Menu<mat-icon>keyboard_arrow_down</mat-icon></button>
            <mat-menu #menu="matMenu">

              <!-- Menu items for admin -->
              <a *ngIf="isAdmin" class="menuBtns" mat-menu-item routerLink="manageValidators">Manage Validators</a>
              <a *ngIf="isAdmin" class="menuBtns" mat-menu-item routerLink="manageClerks">Manage Clerks</a>
              
              <!-- Menu items for validators -->
              <a *ngIf="isValidator" class="menuBtns" mat-menu-item routerLink="blockchain">Manage Blockchain</a>
            
            </mat-menu>
          
          <a class="topBarBtns" mat-button routerLink="profile"><mat-icon>account_circle</mat-icon>{{username}}</a>
          <a class="topBarBtns" mat-button (click)="logout()">	<mat-icon>exit_to_app</mat-icon>Logout</a>
        </div>

      </div>


      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
          (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

    </mat-toolbar>

    <!--The main app.component.html takes in the router-outlet
        The router-outlet defines the paths to different routers
        The content of the component that the router redirects to 
        is shown using ng-content -->
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>