<div  style="width:100%; height:100%; background-color: #EBEDEC; ">
    <div style="margin: auto 0; padding: 10px 10px; width:50%;">
        <mat-card>
            <mat-card-content>
                
                <div><b>Username:</b> {{username}} </div>
                <div><b>Email:</b> {{email}} </div>
                <div><b>Address:</b> {{address}} </div>
                <div><b>Smart Meter No:</b> {{smartMetreNo}} </div>           
            </mat-card-content>
        </mat-card>
    
    </div>
            
    


    
    

</div>