<div class="container" style="margin-left:20px; margin-right: 20px; margin-top: 30px; ">
    
    <mat-grid-list cols="1" rowHeight="100px" style="margin-bottom:15px">
        <mat-grid-tile [colspan]=1 [rowspan]=1>
            <mat-card>
                <mat-card-content>
                    <div style="width: 100%;">
                        Date:
                    </div>
                    <div>Consumption: kWh at  MYT</div>
                    <div>Forecast: kWh at MYT </div>   
                    <h4 style="text-align: left;">Time Remaining: 20:30</h4>
        
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    
     <!-- Buy amount prediction graph goes here  -->
     <div style="display: block;width: 100%;">

        <div *ngIf="isLoading" style="text-align: center;">
            <h3>Loading Graphs...</h3>
            <mat-progress-spinner
            
            diameter = "50"
            [color]="color"
            [mode]="mode"
            [value]="value"
            
            ></mat-progress-spinner>
        </div>

        
        <div *ngIf="!isLoading">
            <h1>Comparison of Energy Production(kWh)</h1>
            <canvas baseChart width="500" height="120"
                [datasets]="chartData"
                [labels]="xAxis"
                [options]="lineChartOptions"
                [legend]="true"
                [chartType]="'line'"
                [colors]="chartColors"
                >
            </canvas>
        </div>
        
      </div>

      <div>
        <mat-grid-list cols="4" rowHeight="150px">
            
            <!-- Information regarding the buy request  -->
            <mat-grid-tile [colspan]=2 [rowspan]=2>
                <mat-card class="userDetailsCard">
                    <mat-card-content>
                        <div>

                            <mat-list role="list">
                                <h3>Buy request information</h3>
                                <mat-divider></mat-divider>
                                <mat-list-item role="listitem"><h4 style="text-align: left;">Buyer: lets_see_paul_allens_bid </h4></mat-list-item>
                                <mat-list-item role="listitem" ><h4 style="text-align: left;">Energy Amount: 100kWh </h4></mat-list-item>
                                <mat-list-item role="listitem" ><h4 style="text-align: left;">Fiat Offer: RM3000 </h4></mat-list-item>
                                <mat-list-item role="listitem" ><h4 style="text-align: left;">Total bids so far: 50 </h4></mat-list-item> 
                                <mat-list-item role="listitem"><h5 style="text-align: left; color:rgba(255, 0, 0, 0.719);"></h5></mat-list-item>
   
                            </mat-list>
                        </div>
                    </mat-card-content>  
                  </mat-card>
            </mat-grid-tile>

            <!-- User Account details -->
            <mat-grid-tile class="" [colspan]=2 [rowspan]=2>
                <mat-card class="userDetailsCard">
                    <mat-card-content>
                        <div>
                            <mat-list role="list">
                                <h3>Your account details</h3>
                                <mat-divider></mat-divider>
                                <mat-list-item role="listitem"><h4 style="text-align: left;">username</h4></mat-list-item>
                                <mat-list-item role="listitem"><h4 style="text-align: left;">Current Fiat: RM </h4></mat-list-item>
                                <mat-list-item role="listitem"><h4 style="text-align: left;">Current Energy Balance: kWh</h4></mat-list-item>
                                <mat-list-item role="listitem"><h4 style="text-align: left;">Completed Transactions: </h4></mat-list-item>
                                <mat-list-item role="listitem"><h5 style="text-align: left; color:rgba(255, 0, 0, 0.719);">Your account will be charged only after the transaction is completed</h5></mat-list-item>
                            </mat-list>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>                   
    </div>
      
    <mat-card style="margin-top: 15px"> 
        <mat-card-content>
            <div style="width: 100%;"> 
                <h1>Bid Form</h1>
                <h4>Make an order for buying energy by simply providing the energy and fiat amount</h4>
                <mat-divider></mat-divider>
                    <form (ngSubmit)="createBid()" #buyOrderForm="ngForm">
                        <div class="form-group">
                            <label for="energyAmount">Enter Required Amount of Energy(kWh)</label>
                            <input  type="number" class="form-control" style="width:30%"
                            [(ngModel)] = 'bidEnergyInput' id="energyAmount" name="energyInput"
                            placeholder="prediction" 
                            required autocomplete="off">
                        </div>

                        <div>
                            <mat-list role="list">
                                <mat-list-item role="listitem"><h4 style="text-align: left;">Average price per kWh: RM </h4></mat-list-item>
                                <mat-list-item role="listitem"><h4 style="text-align: left;" >To Pay: RM  </h4></mat-list-item>
                            </mat-list>
                            
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success" [disabled]="!buyOrderForm.form.valid" >Bid</button>
                        </div>
                    </form>
            


            </div>
        </mat-card-content>
    </mat-card>    

</div>