<div class="container" style="margin-left:20px; margin-right: 20px; margin-top: 30px; ">
    
    <mat-grid-list cols="1" rowHeight="100px" style="margin-bottom:15px">
        <mat-grid-tile [colspan]=1 [rowspan]=1>
            <mat-card>
                <mat-card-content>
                    <div style="width: 100%;">
                        Date: {{currentDate}}
                    </div>
                    <div>Consumption: {{currentConsumption}}kWh at {{currentTime}} MYT</div>
                    <div>Forecast: {{prediction}}kWh at {{predictionTime}} MYT </div>           
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    
     <!-- Buy amount prediction graph goes here  -->
     <div style="display: block;width: 100%;">
        <div><h1>Comparison of Energy Consumption(kWh)</h1></div>
        <canvas baseChart width="500" height="120"
          [datasets]="chartData"
          [labels]="xAxis"
          [options]="lineChartOptions"
          [legend]="true"
          [chartType]="'line'"
          [colors]="chartColors"
        >
        </canvas>
      </div>

    
    
    
    
    <mat-card> 
        <mat-card-content>
            <div style="width: 100%;"> 
                <h1>Buy Energy Form</h1>
                <h4>Make an order for buying energy by simply providing the energy and fiat amount</h4>

                <mat-grid-list cols="3" rowHeight="150px">
                    <mat-grid-tile class="userDetailsTile" [colspan]=1 [rowspan]=2>
                        <!-- User details -->
                        
                        <mat-list role="list">
                           
                            <mat-list-item role="listitem"><h4 style="text-align: left;">{{username}}</h4></mat-list-item>
                            <mat-list-item role="listitem"><h4 style="text-align: left;">Current Fiat: RM {{currentFiat}}</h4></mat-list-item>
                            <mat-list-item role="listitem"><h4 style="text-align: left;">Current Energy Balance:{{currentEnergy}}kWh</h4></mat-list-item>
                            <mat-list-item role="listitem"><h4 style="text-align: left;">Completed Transactions: {{completedTran}}</h4></mat-list-item>
                            <mat-list-item role="listitem"><h5 style="text-align: left; color:rgba(255, 0, 0, 0.719);">Your account will be charged only after the transaction is completed</h5></mat-list-item>
                        </mat-list>    
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]=2 [rowspan]=2>
                     
                    <form (ngSubmit)="createBuyRequest()" #buyOrderForm="ngForm">
                        <div class="form-group">
                            <label for="energyAmount">Enter Required Amount of Energy(kWh)</label>
                            <input  type="number" class="form-control"
                            [(ngModel)] = 'energyInput' id="energyAmount" name="energyInput"
                            placeholder={{prediction}}
                            required autocomplete="off">
                        </div>

                        <div>
                            <mat-list role="list">
                                <mat-list-item role="listitem"><h4 style="text-align: left;">Max amount that can be ordered: {{prediction}} kWh</h4></mat-list-item>
                                <mat-list-item role="listitem"><h4 style="text-align: left;">Average price per kWh: RM {{currentAvgPrice.toFixed(3)}}</h4></mat-list-item>
                                <mat-list-item role="listitem"><h4 style="text-align: left;" >To Pay: RM {{(energyInput * currentAvgPrice).toFixed(3)}} </h4></mat-list-item>
                            </mat-list>
                            
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success" [disabled]="!buyOrderForm.form.valid" >Buy</button>
                        </div>
                        

                    </form>
                    </mat-grid-tile>
                </mat-grid-list>


            </div>
        </mat-card-content>
    </mat-card>    

</div>