<div style="height: 100%; background-color: #EBEDEC;">

    <div class="container-fluid">
        <!-- Market header -->
        <div class="row no-gutter"  style=" background-color: #EBEDEC; padding-top: 20px;">
            <div class="col-md-12"> 
                <div class="col-md-12" style="margin:auto; text-align: center;">
                    <h2 style="color:rgb(55,52,50); font-size:40px; font-weight:500;">
                        Trading Market
                        <img class="images" src="../../assets/EnergyTrading.png" style="height: 5%; width: 5%; display: inline-flex; opacity: 0.9;">

                    </h2>
                    <h3 style="font-size: 20px; color: #5B667C;">All open requests will be closed every 30 minutes</h3>
                </div>
            </div>
        </div>
        
        <div class="row no-gutter">

            <!-- List of closed requests -->
            <div class="col-md-12">
                <mat-tab-group>
                    <div>
                        <mat-tab label="Open Requests" style="width: 100%;"> 
                            <app-open-requests-page></app-open-requests-page>
                        </mat-tab>
                    </div>

                    <div>
                        <mat-tab label="Closed Requests" style="width: 100%;">
                    
                            <!-- No request notification -->
                            <div *ngIf="noClosedBuyRequests" style="margin-left: 10px; width: 95%; height: 100%;">
                                <h2>No buy requests available</h2>
                            </div>
                            
                            <!-- When got closed requests -->
                            <div *ngIf="!noClosedBuyRequests" style="margin-left: 10px; width: 95%; height: 100%;overflow: hidden;"> 
                            
                                <table mat-table [dataSource]="closesRequestDataSource">
                                    
                                    <!-- buyer info -->
                                    <ng-container matColumnDef="buyer">
                                        <th mat-header-cell *matHeaderCellDef> Buyer </th>
                                        <td mat-cell *matCellDef="let element"> {{element.buyer}} </td>
                                    </ng-container>
        
                                    <!-- energyAmount info -->
                                    <ng-container matColumnDef="energyAmount">
                                        <th mat-header-cell *matHeaderCellDef> Energy Amount (kWh) </th>
                                        <td mat-cell *matCellDef="let element"> {{element.energyAmount}} </td>
                                    </ng-container>
        
        
                                    <!-- fiatAmount info -->
                                    <ng-container matColumnDef="fiatAmount">
                                        <th mat-header-cell *matHeaderCellDef> Fiat Amount (RM) </th>
                                        <td mat-cell *matCellDef="let element"> {{element.fiatAmount}} </td>
                                    </ng-container>
    
                                    <!-- fiatAmount info -->
                                    <ng-container matColumnDef="reqId">
                                        <th mat-header-cell *matHeaderCellDef> Request Id </th>
                                        <td mat-cell *matCellDef="let element"> {{element.reqId}} </td>
                                    </ng-container>
        
        
                                    <!-- remaining time info -->
                                    <ng-container matColumnDef="remTime">
                                        <th mat-header-cell *matHeaderCellDef> Request Status  </th>
                                        <td mat-cell *matCellDef="let element"> {{element.remTime}} </td>
                                    </ng-container>
                                
                                    <tr mat-header-row *matHeaderRowDef="closedRequestDisplayedCols"></tr>
                                    <tr mat-row *matRowDef="let row; columns: closedRequestDisplayedCols;"></tr>

                                </table>
                                <mat-paginator 
                                    [pageSizeOptions]="[5, 10,20]" 
                                    showFirstLastButtons 
                                    aria-label="Select page of periodic elements">
                                 </mat-paginator>
             
                            </div>
        
                        </mat-tab>
                    </div>
                    
                </mat-tab-group>
                
                
                
            </div>

        </div>
    </div>
</div>