<div style="width:100%; height:100%; background-color: #EBEDEC;">

    <div class="container-fluid"  style="background-color: #EBEDEC; ">
        <!-- Showing buy order -->
        <div class="row no-gutter">
            <div class="col-md-12"  style="margin:auto; text-align: center; padding:15px">
                <h1 style="font-size: 46px; font-weight:500; color:#2D323B">Your Order History
                    
                </h1>
            </div>
        </div>

        
        <!-- Transaction Table -->
        <div class="row no-gutter">
            <div class="col-md-12"  style="margin:auto; text-align: center; padding:15px">
            </div>
        </div>


        <!-- Sell orders/ bids made by user -->
        <app-sell-order></app-sell-order>


    </div>
</div>