<div style="width:100%; height:100%; background-color: #EBEDEC;">    
    <mat-tab-group>
        <div>
            <mat-tab label="Open Requests" style="width: 100%;"> 
                <div *ngIf="noOpenBuyRequests" style="margin-left: 10px; width: 95%; height: 100%;">
                    <h2>No buy requests available</h2>
                </div>
                <div *ngIf="!noOpenBuyRequests" style="margin-left: 10px; width: 95%; height: 100%;overflow: hidden;"> 
                    <mat-list role="list" *ngFor="let request of allOpenBuyRequests" style="margin-bottom: 10px; margin-top: 10px;overflow: hidden;">
                               
                        <mat-list-item role="listitem">
                            <mat-card class="cardLayout" style="width: 100%;">
                                <mat-card-content>
                                    <mat-grid-list cols="5" rowHeight="40px">
                                        <mat-grid-tile class="userDetailsTile" [colspan]=1 [rowspan]=2>
                                            <div>
                                                Consumer: {{request.buyerId}}
                                            </div>
                                            
                                        </mat-grid-tile>
                                        <mat-grid-tile class="userDetailsTile" [colspan]=1 [rowspan]=2>
                                            Energy: {{request.energyAmount}} kWh
                                        </mat-grid-tile>
                                        <mat-grid-tile class="userDetailsTile" [colspan]=1 [rowspan]=2>
                                            Fiat: RM {{(request.fiatAmount).toFixed(3)}}
                                        </mat-grid-tile>
                                        <mat-grid-tile class="userDetailsTile" [colspan]=1 [rowspan]=2>
                                            <!-- <h4>Closes at 11:30pm</h4> -->
                                            <!-- Time Elapsed: 30 Min  -->
                                            Time Elapsed: {{request.remTime}}
                                        </mat-grid-tile>
                                        <mat-grid-tile class="userDetailsTile" [colspan]=1 [rowspan]=2>
                                            <button type="bid" class="btn btn-success" (click)="bid(request)">Bid</button>
                                        </mat-grid-tile>
                                        
                                        
                                    </mat-grid-list>
                                                                    
                                </mat-card-content>
                            </mat-card>
                        </mat-list-item>
                    </mat-list> 
                    
                </div>
            </mat-tab>


            <!-- Show all closed requests -->
            <mat-tab label="Closed Requests">
                <div *ngIf="noClosedBuyRequests" style="margin-left: 10px; width: 95%; height: 100%;overflow: hidden;">
                    <h2>No buy requests available</h2>
                </div>
                <div *ngIf="!noClosedBuyRequests" style="margin-left: 10px; width: 95%; height: 100%;overflow: hidden;"> 
                    <mat-list role="list" *ngFor="let request of allClosedBuyRequests" style="margin-bottom: 10px; margin-top: 10px;overflow: hidden;">
                               
                        <mat-list-item role="listitem">
                            <mat-card class="cardLayout" style="width: 100%;">
                                <mat-card-content>
                                    <mat-grid-list cols="5" rowHeight="40px">
                                        <mat-grid-tile class="userDetailsTile" [colspan]=1 [rowspan]=2>
                                            <div>
                                                Consumer: {{request.buyerId}}
                                            </div>
                                            
                                        </mat-grid-tile>
                                        <mat-grid-tile class="userDetailsTile" [colspan]=1 [rowspan]=2>
                                            Energy: {{request.energyAmount}} kWh
                                        </mat-grid-tile>
                                        <mat-grid-tile class="userDetailsTile" [colspan]=1 [rowspan]=2>
                                            Fiat: RM {{(request.fiatAmount).toFixed(3)}}
                                        </mat-grid-tile>
                                        <mat-grid-tile class="userDetailsTile" [colspan]=1 [rowspan]=2>
                                            <h4>Closed</h4>
                                        </mat-grid-tile>
                                        <mat-grid-tile class="userDetailsTile" [colspan]=1 [rowspan]=2>
                                            <h4>Bid info<mat-icon>info</mat-icon></h4>
                                        </mat-grid-tile>
                                        
                                        
                                    </mat-grid-list>
                                                                    
                                </mat-card-content>
                            </mat-card>
                        </mat-list-item>
                    </mat-list> 
                    
                </div>
            </mat-tab>
            
        </div>
        
        
      </mat-tab-group>
</div>






  